@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme inline {
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}

:root {
  --color-fd-primary: hsl(45, 95%, 45%);
}

.dark {
  --color-fd-primary: #fff383;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
